<h2>New Character</h2>

<%= form_for @character do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :Image %>
  <%= f.text_field :img_url %>


  <%= f.select(:house, options_for_select(@house_house))%>


  <%= f.submit %>
<% end %>
