<!DOCTYPE html>
<html>
  <head>
    <title>GameOfThrones</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

    </div>
    <header>
    <h1>Game of Thrones</h1>
  </header>
  <nav>
    <h2><%= link_to "View Houses", houses_path %> | <%= link_to "View Characters", characters_path %> | <%= link_to "New Character", new_character_path %></h2>
  </nav>
    <%= yield %>
  </div>
  </body>
</html>
